1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
3.In the years list, which year were you the oldest?
4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.
9. Write the French word for walrus in your three-word dictionary e2f.
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
11. Print the English version of the French word chien using f2e.
12. Make and print a set of English words from the keys in e2f.
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
14. Print the top-level keys of life.
15. Print the keys for life['animals'].
16. Print the values for life['animals']['cats']

1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. 
    For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [8]:
# solution:
born_year = int(input("please input your born year"))
years_list = []
for i in range(born_year, born_year+50):
                years_list.append(i)
print(years_list)

please input your born year 1992

[1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [11]:
# solution
third_birthday_year = years_list[3]
print(third_birthday_year)

1995

3. In the years list, which year were you the oldest?

In [14]:
# solution
oldest_birthday_year = years_list[49]
print(oldest_birthday_year)

2041

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [15]:
# solution
things = ["mozzarella", "cinderella", "salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [20]:
# solution
things_capital = []
for i in things:
    things_capital.append(i.capitalize())

things_capital

['Mozzarella', 'Cinderella', 'Salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [21]:
# solution
surprise_list = ["Groucho", "Chico", "Harpo"]

In [22]:
surprise_list[-1].lower()     # lowercase

'harpo'

In [24]:
surprise_list[-1][::-1]    # reverse

'opraH'

In [25]:
surprise_list[-1][::-1].upper()    # uppercase

'OPRAH'

 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [26]:
#solution

e2f = {"dog":"chien", "cat":"chat", "walrus":"morse"}

9. Write the French word for walrus in your three-word dictionary e2f.

In [30]:
#solution

e2f["walrus"]

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [34]:
# solution
f2e = dict((value, key) for key, value in e2f.items())

In [35]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [37]:
# solution
f2e["chien"]

'dog'

12. Make and print a set of English words from the keys in e2f.

In [40]:
#solution
english_word = []
for key, value in e2f.items():
    english_word.append(key)
    
print(english_word)

['dog', 'cat', 'walrus']

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [6]:
life = {"animals":{"cats":['Henri','Grumpy','Lucy']}, "plants":{}, "others":{}}

In [7]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy']}, 'plants': {}, 'others': {}}

14. Print the top-level keys of life.

In [8]:
life.keys()

dict_keys(['animals', 'plants', 'others'])

15. Print the keys for life['animals'].

In [14]:
life["animals"].keys()

dict_keys(['cats'])

16. Print the values for life['animals']['cats']

In [15]:
life["animals"]["cats"]

['Henri', 'Grumpy', 'Lucy']