## Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

### Solution for Question 1

In [1]:
def is_symmetrical(num):
    k = [int(x) for x in str(num)]
    if k == k[::-1]:
        return True
    else:
        return False
        
is_symmetrical(7227)

True

In [2]:
is_symmetrical(9939)

False

## Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

### Solution for Question 2

In [4]:
def multiply_nums(nums_str):
    nums = [int(num) for num in nums_str.split(', ')]
    product = 1
    for num in nums:
        product *= num
    return product

multiply_nums("10, -2")

-20

## Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

### Solution for Question 3

In [5]:
def square_digits(num):
    nums = [int(n) for n in str(num)]
    for i in nums:
        print(int(i**2), end = "")
        
square_digits(9119)

811181

In [6]:
square_digits(9119)

811181

## Question 4 
Create a function that sorts a list and removes all duplicate items from it. Examples setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

### Solution for Question 4

In [7]:
def setify(lst):
    lst1 = []
    for i in lst:
        if i not in lst1:
            lst1.append(i)
    return lst1

In [8]:
setify([3, 3, 3, 2, 1])

[3, 2, 1]

In [9]:
setify([4, 4, 4, 4])

[4]

## Question 5 
Create a function that returns the mean of all digits. Examples mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6 Notes • The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2). • The mean will always be an integer.

### Solution for Question 5

In [10]:
def mean(num):
    lst = [int(i) for i in str(num)]
    total = 0
    for i in lst:
        total = total + i
    return round(total/len(lst))

In [11]:
mean(666)

6